$padding: 20px;
$borderRadius: 5px;
$about-bgcolor: rgba(205, 71, 18, 0.74);
$skills-bgcolor: rgba(127, 255, 212, 0.616);
$contact-bgcolor: rgba(24, 135, 209, 0.616);
$projects-bgcolor: rgba(14, 19, 22, 0.616);

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.about {
  margin: $padding 0px;
  padding: 0px 12px;
  min-height: 150px;
  background-color: $about-bgcolor;
  border-radius: $borderRadius * 4;
}

.skills {
  height: 800px;
  background-color: $skills-bgcolor;
  border-radius: $borderRadius * 4;
  margin: $padding 0px;
  padding: 0px 12px;
}

.experience {
}

.projects {
  background-color: $projects-bgcolor;
  border-radius: $borderRadius * 4;
  padding: 0px 12px;
  margin: $padding 0px;
  a {
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  }
  h3 {
    text-align: left;
  }
  img {
    float: right;
  }
}

.hobbies {
}

.goals {
}

.row {
  display: flex;
  justify-content: space-around;
}

.col {
  flex: 1;
}

$columns: 5;

@for $i from 1 through $columns {
  .spacing-#{$padding * $i} {
    padding: $padding * $i;
  }
}

img {
  width: 60px;
  border-radius: $borderRadius;
}

p {
  text-align: justify;
}

header {
  flex-basis: 10px;
  padding-left: $padding;
  padding-right: $padding;
  background-color: rgba(43, 73, 68, 0.35);
  h1 {
    width: fit-content;
    display: inline;
  }
  nav {
    margin-top: 7px;
    width: fit-content;
    float: right;
    button {
      border: 3px solid rgba(20, 58, 61, 0.662);
      margin-left: $padding / 2;
      border-radius: $borderRadius;
    }
    .header-about {
      background-color: $about-bgcolor;
    }
    .header-skills {
      background-color: $skills-bgcolor;
    }
    .header-experience {
    }
    .header-projects {
      background-color: $projects-bgcolor;
    }
    .header-contact {
      background-color: $contact-bgcolor;
    }
  }
}

body {
  margin: 0px;
  background-color: rgb(146, 146, 146);
  font-family: "Courier New", Courier, monospace;
}

.body {
  flex: 1;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  padding-left: $padding * 5;
  padding-right: $padding * 5;
}

footer {
  flex-basis: 50px;
  background-color: $contact-bgcolor;
  margin: $padding 0px;
  padding: 0px 12px;
  border-radius: $borderRadius * 4;
  h3 {
    text-align: center;
  }
}
